@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
   
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@{
    var culture = CultureInfo.CurrentCulture.Name;
}

<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CartItems)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>@item.Price</td>
                                        <td>@(item.Quantity * item.Price)</td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">@Model.CartItems.Sum(x => x.Quantity * x.Price).ToString("N0")</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                    <div class ="card-body"> <a class="btn btn-lg btn-block btn-primary py-3" asp-action="Pay" asp-controller="Cart" type="submit">COD</a></div>
                   
                <div class="card-body">
                  <div>
                            <form method="POST" asp-action="CreatePaymentUrlVnpay" asp-controller="Cart">
                                <input type="hidden" name="Name" value="@User.Identity.Name" />
                                <input type="hidden" name="Amount" value="@Model.CartItems.Sum(x => x.Quantity * x.Price)"/>
                                <input type="hidden" name="OrderDescription" value="Thanh toán hóa đơn" />
                                <input type="hidden" name="OrderType" value="Order" />
                                <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Pay with VNPay</button>
                             </form>
                  </div>
                  
                </div>
               
            </div>
        </div>
    </div>
</div>