@using ShopSolution.ViewModels.Catalog.Products
@model ProductDetailViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var culture = CultureInfo.CurrentCulture;
}
@section scripts {
    <script src="~/js/cart.js"></script>
    <script>
        var cartController = new CartController();
        cartController.initialize();
    </script>
}
<body>
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="@($"{Configuration["BaseAddress"]}/user-content/{Model.Product.ThumbnailImage}")" alt="@Model.Product.Name">
                        </div>     
                    </div>
                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">@Model.Product.Name</h3> 
                <div class="d-flex align-items-baseline my-3">
                    <h4 class="text-danger fw-bold mb-0">@Model.Product.Price.ToString("N0") VNĐ</h4>
                    @if (Model.Product.OriginalPrice > Model.Product.Price)
                    {
                        <h6 class="text-muted ms-2"><del>@Model.Product.OriginalPrice.ToString("#,##0 VNĐ")</del></h6>
                    }
                </div>
                <p>Lượt xem: <span id="viewCount">@Model.Product.ViewCount</span></p>
                <p class="mb-4">Số lượng : @Model.Product.Stock</p>
                <p class="mb-4">Lượt bán : @Model.Product.Sold</p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 130px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" data-id="@Model.Product.Id">
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>
                       
                        <input type="text"
                               id="txt_quantity_@Model.Product.Id"
                               class="form-control bg-secondary text-center"
                               value="1">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-plus" data-id="@Model.Product.Id">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    @if(Model.Product.Stock <= 0) {
                        <a class="btn btn-primary text-dark px-3">
                            <i class="fas fa-shopping-cart text-dark mr-1"></i><localize>Hết hàng</localize>
                        </a>
                    }else if(Model.Product.Stock >0)
                    {
                        <button type="button"
                                class="btn btn-primary btn-add-cart text-dark px-3"
                                data-id="@Model.Product.Id">
                            <i class="fas fa-shopping-cart mr-1"></i><localize>Add To Cart</localize>
                        </button>
                    }
                </div>

                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1"><localize>Description</localize></a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2"><localize>Information</localize></a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3"><localize>Reviews</localize></a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3"><localize>Product Description</localize></h4>
                        <p>@Model.Product.Description</p>             
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
    <!-- Products Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2"><localize>You May Also Like</localize></span></h2>
        </div>
        <div class="row px-xl-5">
            <!-- Owl Carousel for products -->
            <div class="owl-carousel related-carousel">
                @foreach (var item in Model.FeaturedProducts)
                {
                    var url = $"/{culture}/{_loc["productUrl"]}/{item.Id}";
                    var imageUrl = Url.Content($"{Configuration["BaseAddress"]}/user-content/{item.ThumbnailImage}");
                    <div class="card product-item border-0">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <a href="@url"><img class="img-fluid w-100" src="@imageUrl" alt="@item.Name"></a>
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">@item.Name</h6>
                            <div class="d-flex justify-content-center">
                                <h6>@item.Price.ToString("#,##0 VNĐ")</h6>
                                @if (item.OriginalPrice > item.Price)
                                {
                                    <h6 class="text-muted ml-2"><del>@item.OriginalPrice.ToString("#,##0 VNĐ")</del></h6>
                                }
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="@url" class="btn btn-sm text-dark p-0">
                                <i class="fas fa-eye text-primary mr-1"></i><localize>View Detail</localize>
                            </a>
                            @if (item.Stock > 0)
                            {
                                <a href="/" class="btn btn-sm btn-add-cart text-dark p-0" data-id="@item.Id">
                                    <i class="fas fa-shopping-cart text-primary mr-1"></i><localize>Add To Cart</localize>
                                </a>
                            }
                            else
                            {
                                <a href="" class="btn btn-sm btn-add-cart text-dark p-0">
                                    <i class="fas fa-shopping-cart text-primary mr-1"></i><localize>Hết hàng</localize>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Products End -->
</body>


