@using ShopSolution.ViewModels.Common;
@model PagedResult<ShopSolution.ViewModels.Catalog.Categories.CategoryVm>

@{
    ViewData["Title"] = "Danh sách danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}


<div class="container-fluid mt-4">
    <h1 class="display-4 mb-4">Danh sách danh mục</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Danh sách danh mục</li>
        </ol>
    </nav>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-primary" asp-action="Create" asp-controller="Category">
                    <i class="fas fa-plus"></i> Tạo mới
                </a>
                <form asp-action="Index" method="get" class="d-flex">
                    <div class="input-group">
                        <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Tìm kiếm danh mục...">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fas fa-search"></i> Tìm
                            </button>
                            <a href="/Category/Index" class="btn btn-outline-secondary">
                                <i class="fas fa-sync-alt"></i> Reset
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card-body">
            @if (ViewBag.SuccessMsg != null)
            {
                <div id="msgAlert" class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewBag.SuccessMsg
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Mã</th>
                            <th scope="col">Tên danh mục</th>
                            <th scope="col">Seo Description</th>
                            <th scope="col">Seo Title</th>
                            <th scope="col">Seo Alias</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td scope="row">@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.SeoDescription</td>
                                <td>@item.SeoTitle</td>
                                <td>@item.SeoAlias</td>
                                <td class="action-column">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                                        <i class="fas fa-edit"></i> Sửa
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                                        <i class="fas fa-trash-alt"></i> Xóa
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
<style>
    .table-responsive {
        overflow-x: auto; /* Thêm thuộc tính này để cho phép cuộn ngang */
    }

    .action-column {
        width: 150px; /* Điều chỉnh độ rộng phù hợp */
        white-space: nowrap; /* Ngăn các nút xuống dòng */
    }
</style>